# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Projekt.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kacpe\Desktop\Projekt\Projekt\.idea\.idea.Projekt.dir\.idea/dataSources/
/dataSources.local.xml
